body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:rgb(27, 66, 66);
  background-color: #00B7FF;
}

a {
  color: #00B7FF;
}
.btn{
  color: white;
  background-color: chocolate;
}